.infoTab{
  width: 40%;
  height: 20%;
  background: #baf4dc;
  color: #303d4c;
  padding: 3%;
}

.tab:not([data-tabs="1"]){
  display: none;
}

.button:hover{
  cursor: pointer;
}
.button{
  padding: 0.2%;
  font-size: 1.3em;
  width: 5%;
  color: grey;
  background: #cdd1d6;
  /*border: 3px solid turquoise;*/
  display: inline-block;
}

.button:not([data-tabs="1"]){
  margin-left: 5px;
}
.buttonTVisit{
  background: #baf4dc;

}
