body{
    font-family: "Arial";
    background: bisque;
}

#timer{
    position: relative;
    margin-top: 20%; 
}


#outTimer{
    background: white;
    position: relative;
    outline: none;
    left: 32%;
    width: 40%;
    height: 60px;
    padding-top: 0;
    border-radius: 10px 10px 10px 10px;
    color: darksalmon;
    font-size: 2em;
    text-align: center;
}

#outTime{
    font-size: 1.7em;
}

#Dbutton{
    position: absolute;
    left: 35.5%;
    margin-top: 1%;
    outline: none;

}

.button{
    border-style: none;
    width: 150px;
    height: 30px;
    color: black;
    font-family: "Arial";
    border: none;
    outline: none;

}

button:hover {
    border: 1px solid black;
    background: aqua;
    transition: background 0.4s ease-out ;

}
#outResult{
    position: absolute;
    left: 35%;
    margin-top: 80px; 
    color: darkred;
    opacity: 0.7;
    font-weight: 500;
    font-size: 1.5em;
}